extends layouts/main

block header
    section(id='section-' + id + '-header', class='container')
        //-div(class='text-center fadeInLoad')
            h1 Inga begränsningar
                span(class='d-block') Nedan hittar ni exempel av funktioner som kan användas

block content
    section(id='section-' + id + '-content', class='container')
        div(class='row justify-content-center')
            div(class='col-md-8')
                p(class='lead') Då vi inte bygger upp våra eventwebsidor i några låsta system har vi alltid möjligheten att kunna skapa de funktioner eller lösningar som just ni är ute efter.
                p Det kan vara allt från enkla interaktiva lösningar som t.ex. en röstningsfunktion med tumme upp/ner till API-kopplingar mot diverse tjänster. Alla våra betal lösningar gör vi genom #[a(class='inline-link', href='https://stripe.com', target='_blank') Stripe] för en säker och trygg hantering.
                p I vårat egetutvecklade administrationsverktyg kan ni enkelt hantera deltagare, exportera listor och skicka påminnelser. Här får ni även statistik över sidotrafik via #[a(class='inline-link', href='https://analytics.google.com/', target='_blank') Google Analytics] samt diagram över vad deltagarna har gjort för val vid registrering.
                //-p Under eventet kan vi skapa diverse livelösningar, ni kan även använda vår app för att skicka ut frågor, mätningar eller skapa diskussioner till alla deltagare i realtid. Vill ni dokumentera eventet eller få hjälp med ljud &amp; ljus har vi ett samarbete med #[a(class='inline-link', href='http://prodomedia.se/', target='_blank') ProDo] som kan hjälpa er med detta.
        
        div(class='row mt-5')
            div(class='col-md-3 pr-0-md-up')
                ul(class='nav nav-pills flex-column', role='tablist')
                    li(class='nav-item')
                        a(class='nav-link active', data-toggle='pill', href='#eventhemsida', role='tab') Eventhemsida
                    li(class='nav-item')
                        a(class='nav-link', data-toggle='pill', href='#administrationsverktyg', role='tab') Administrationsverktyg
                    li(class='nav-item')
                        a(class='nav-link', data-toggle='pill', href='#undereventet', role='tab') Under eventet
                    //-li(class='nav-item')
                        a(class='nav-link', data-toggle='pill', href='#app', role='tab') App
                        
            div(class='col-md-9')
                div(class='tab-content')
                    div(class='tab-pane active', id='eventhemsida', role='tabpanel')
                        div(class='row card-row')
                            - let functionsEventhemsida = [{ target: 'betal-losningar', label: 'Betal lösningar', icon: 'shopping_cart'}, { target: 'inbjudningar', label: 'Inbjudningar', icon: 'send'}, { target: 'paminnelser', label: 'Påminnelser', icon: 'inbox'}, { target: 'interaktiva-losningar', label: 'Interaktiva lösningar', icon: 'forum'}, { target: 'registrering', label: 'Registrering', icon: 'person_add'}, { target: 'uppfoljning-bildgalleri', label: 'Uppföljning bildgalleri', icon: 'filter'}, { target: 'uppfoljning-enkater', label: 'Uppföljning enkäter', icon: 'line_style'}];
                            each f in functionsEventhemsida
                                div(class='col-md-3')
                                    div(class='card text-center card-link', data-target='' + f.target)
                                        div(class='card-block d-flex align-items-center')
                                            h3(class='card-title m-icons ' + f.icon)= f.label
                        
                    div(class='tab-pane', id='administrationsverktyg', role='tabpanel')
                        div(class='row card-row')
                            - let functionsAdministrationsverktyg = [{ target: 'listhantering', label: 'Listhantering', icon: 'list'}, { target: 'import-export', label: 'Import & export', icon: 'import_export'}, { target: 'statistik', label: 'Statistik', icon: 'show_chart'}, { target: 'google-analytics', label: 'Google Analytics', icon: 'insert_chart'}, { target: 'skicka-paminnelser', label: 'Skicka påminnelser', icon: 'inbox2'}, /*{ target: 'vantelista', label: 'Väntelista', icon: 'format_list_numbered'}*/];
                            each f in functionsAdministrationsverktyg
                                div(class='col-md-3')
                                    div(class='card text-center card-link', data-target='' + f.target)
                                        div(class='card-block d-flex align-items-center')
                                            h3(class='card-title m-icons ' + f.icon)= f.label
                    
                    div(class='tab-pane', id='undereventet', role='tabpanel')
                        div(class='row card-row')
                            - let functionsUndereventet = [{ target: 'under-check-in', label: 'Check-In', icon: 'beenhere'}, { target: 'livelosningar', label: 'Livelösningar', icon: 'live_tv'}];
                            each f in functionsUndereventet
                                div(class='col-md-3')
                                    div(class='card text-center card-link', data-target='' + f.target)
                                        div(class='card-block d-flex align-items-center')
                                            h3(class='card-title m-icons ' + f.icon)= f.label
                    
                    div(class='tab-pane', id='app', role='tabpanel')
                        div(class='row card-row')
                            - let functionsApp = [{ target: 'app-check-in', label: 'Check-In', icon: 'beenhere'}, { target: 'program', label: 'Program', icon: 'speaker_notes'}, { target: 'diskussioner', label: 'Diskussioner', icon: 'forum'}, { target: 'fragor', label: 'Frågor', icon: 'help'}, { target: 'matningar', label: 'Mätningar', icon: 'insert_chart'}, { target: 'push-notiser', label: 'Push-notiser', icon: 'notifications_active'}, { target: 'bildgalleri', label: 'Bildgalleri', icon: 'collections'}];
                            each f in functionsApp
                                div(class='col-md-3')
                                    div(class='card text-center card-link', data-target='' + f.target)
                                        div(class='card-block d-flex align-items-center')
                                            h3(class='card-title m-icons ' + f.icon)= f.label
                                            
            div(class='col-md-12 functions-info mt-3')
            
                //- Eventhemsida
                
                div(data-target='betal-losningar')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Betal lösningar
                    p Alla betal lösningar görs genom #[a(class='inline-link', href='https://stripe.com', target='_blank') Stripe] för en säker och trygg hantering.
                    
                div(data-target='inbjudningar')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Inbjudningar
                    p Inbjudningarna skickas ut via e-post &mdash; ni kan enkelt importera användarlistor och välja vilka som ska få en inbjudan.
                    
                div(data-target='paminnelser')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Påminnelser
                    p Genom systemets rapporter kan ni hålla er uppdaterade hur många det är som har öppnat upp mailet och enkelt skicka ut påminnelser till de som inte registrerat sig.
                    
                div(data-target='interaktiva-losningar')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Interaktiva lösningar
                    p Använd hemsidan som ett verktyg för att samla företaget och sätta agendan under eventet. Några förslag på lösningar hittar ni nedan.
                    dl(class='row')
                        dt(class='col-sm-3') Forum
                        dd(class='col-sm-9') Skapa ett forum för deltagarna att skapa diskussioner kring eventet.
                        dt(class='col-sm-3') Livechatt
                        dd(class='col-sm-9') Skapa en livechatt på hemsidan för deltagarna.
                        dt(class='col-sm-3') Tumme upp/ner
                        dd(class='col-sm-9') Låt deltagarna ställa frågor som de vill ta upp på eventet, de kan sedan rösta på hur intressanta/icke intressanta de tycker frågorna är.
                        dt(class='col-sm-3') Quiz
                        dd(class='col-sm-9') Skapa en quiz för deltagarna med frågor kring eventet.
                        
                    p Har ni förslag på andra interaktiva lösningar som ni vill implementera på sidan säg till så löser vi det!
                    
                div(data-target='registrering')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Registrering
                    p Vi bygger upp registreringsformuläret precis så som ni vill ha det! Gräns på antal platser eller olika formulärval beroende på tidigare val är inga problem.
                    
                div(data-target='uppfoljning-bildgalleri')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Uppföljning bildgalleri
                    p Lägg upp bilder från eventet i ett snyggt bildgalleri.
                    
                div(data-target='uppfoljning-enkater')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close
                        
                    h3 Uppföljning enkäter
                    p Få respons på ditt event genom uppföljningsenkäter, se statistik på rapporterna i pajdiagram.
                    
                //- Administrationsverktyg

                div(data-target='listhantering')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Listhantering
                    p Hantera listor och gör ändringar, skicka iväg nya bekräftelsemail efter ni gjort ändringar direkt från administrationen.
                    
                div(data-target='import-export')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Import &amp; export
                    p Importera användarlistor, exportera listor och statistik.
                    
                div(data-target='statistik')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Statistik
                    p Se statistik i snygga pajdiagram över vad deltagarna har gjort för val i formulären.
                    
                div(data-target='google-analytics')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Google Analytics
                    p Se antal besökare och besökarstatistik hämtad via #[a(class='inline-link', href='https://analytics.google.com/', target='_blank') Google Analytics].
                    
                div(data-target='skicka-paminnelser')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Skicka påminnelser
                    p Skicka påminnelser till alla eller valda deltagare, ni kan även skicka om bekräftelsemail som inte kommit fram.
                    
                div(data-target='vantelista')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Väntelista
                    p Väljer ni att sätta en gräns på antal deltagare finns det att val att resterande hamnar i en väntelista, här kan ni enkelt kontakta och flytta över personerna till registreringslistan.

                //- Under eventet
                
                div(data-target='under-check-in')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Check-In
                    p Ha en lista över deltagarna som ni kan checka in manuellt eller via våran App.
                    
                div(data-target='livelosningar')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Livelösningar
                    p Använd hemsidan som en plattform att besöka under eventet, med frågor och mätningar. 

                //- App
                
                div(data-target='app-check-in')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Check-In
                    p Låt deltagarna själva checka in eller scanna biljetterna som visas i deras app eller i bekräftelsemailet de får när de registreras.
                    
                div(data-target='program')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Program
                    p Ge deltagarna tillgång till det senaste eventprogrammet. Lägg enkelt dit bilder, videor, kartor och länkar som är relevanta.
                    
                div(data-target='diskussioner')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Diskussioner
                    p Engagera deltagarna i diskussioner, få feedback i realtid.
                    
                div(data-target='fragor')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Frågor
                    p Ställ frågor till deltagarna, låt dem sända svar eller frågor till moderatorn &ndash; visa svar i realtid och dela svaren direkt i appen.
                    
                div(data-target='matningar')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Mätningar
                    p Gör mätningar, visa diagram i realtid i appen över hur deltagarna har röstat. Ladda ner mätningarna efter eventet med all statistik.
                    
                div(data-target='push-notiser')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Push-notiser
                    p Sänd push-notiser till deltagarna om förändringar i programmet eller något annat &ndash; ett bra sätt att hålla deltagarna uppdaterade!
                    
                div(data-target='bildgalleri')
                    button(type='button', class='functions-close close', aria-label='Close')
                        i(class='material-icons') close

                    h3 Bildgalleri
                    p Ladda upp bilder från eventet i ett bildgalleri för deltagarna att ta del av.