.clients {
    
    .badge {
        margin:0 auto 15px auto;
        transition:.2s ease-out;
        
        img {
            transition:.2s ease-in;
            max-height:50px;
        }
        
    }
    
}