header {
    
    min-height:60%;
    background:url('../images/bg4.jpg') no-repeat center center;
    background-size:cover;
    color:$offwhite;
    padding:0;
    display:flex;
    flex-direction:column;
    
    h1 {
        text-shadow:1px 1px 1px rgba($black, .3);
    }
    
    section {
        padding:4rem 0;
    }
    
}

body.body-page-funktioner header {
    background-image:url('../images/bg5.jpg');
}