.m-icons {
        
    &.shopping_cart {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E8CC';
        }
        
    }
    
    &.send {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E163';
        }
        
    }
    
    &.inbox {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E156';
        }
        
    }
    
    &.inbox2 {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E156';
        }
        
    }
    
    &.person_add {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E7FE';
        }
        
    }
    
    &.forum {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E0BF';
        }
        
    }
    
    &.group {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E7EF';
        }
        
    }
    
    &.chat_bubble {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E0CA';
        }
        
    }
    
    &.chat_bubble_outline {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E0CB';
        }
        
    }
    
    &.filter {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E3D3';
        }
        
    }
    
    &.line_style {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E919';
        }
        
    }
    
    &.list {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E896';
        }
        
    }
    
    &.import_export {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E0C3';
        }
        
    }
    
    &.show_chart {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E6E1';
        }
        
    }
    
    &.insert_chart {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E24B';
        }
        
    }
    
    &.format_list_numbered {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E242';
        }
        
    }
    
    &.beenhere {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E52D';
        }
        
    }
    
    &.live_tv {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E639';
        }
        
    }
    
    &.speaker_notes {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E8CD';
        }
        
    }
    
    &.help {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E887';
        }
        
    }
    
    &.notifications_active {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            top:40%;
            content:'\E7F7';
        }
        
    }
    
    &.collections {
        
        &:before {
            font-family:'Material Icons';
            position:absolute;
            left:1.5rem;
            content:'\E3B6';
        }
        
    }
    
}