$white:                 #fff;
$black:                 #000;
$offwhite:              #fafafa;
$primary:               #2c343f;
$primary-hover:         #1f242c;
$card-hover:            $white;
$a-inline-bg:           #6b8cba;
$main-bg:               #f6f9fc;
$font-dark:             #393939;
$font-color:            $font-dark;
$font-p:                $font-dark;
$link-color:            #6b8cba;
$link-color-hover:      $primary-hover;
$heading-color:         #393939;